@model IEnumerable<FrontEnd_MVC.Models.Reservation>

@{
    ViewData["Title"] = "AfficheReservationByClient";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Mon historique de réservations</h1>

<p>
    <a asp-action="EffectuerReservation">Effectuer une nouvelle réservation</a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idreservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idclient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idvoiture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddepotDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddepotRetour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idforfait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KilometrageDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KilometrageRetour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoefficientMultiplicateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpaysDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpaysRetour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idreservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idclient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idvoiture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddepotDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddepotRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idforfait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KilometrageDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KilometrageRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoefficientMultiplicateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penalite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpaysDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpaysRetour)
            </td>

                @if (item.KilometrageDepart == null)
                {
                     <td>
                <a asp-action="AnnulerReservation" asp-route-id="@item.Idreservation">Annuler reservation</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
               
        </tr>
}
    </tbody>
</table>


@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}
