@model FrontEnd_MVC.Models.Reservation
@using System.Web.Optimization
@{
    ViewData["Title"] = "EffectuerReservation";
}

<h1>Effectuez votre reservation</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div  hidden="hidden" class="form-group">
                <label asp-for="Idclient" class="control-label"></label>
                <input asp-for="Idclient"  value="@ViewBag.Idclient" class="form-control" />
                <span asp-validation-for="Idclient" class="text-danger"></span>
            </div>

            
            <div  class="form-group">
             @Html.LabelFor(x => Model.IdpaysDepart, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.IdpaysDepart, new SelectList(Model.ListPays, "Value", "Text"), htmlAttributes: new { @class = "form-control", id="IDPays"})
                
                </div>
            </div>
          
             <div class="form-group">
             @Html.LabelFor(x => Model.IddepotDepart, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.IddepotDepart, new SelectList(Model.ListDepotDepart, "Value", "Text"), htmlAttributes: new { @class = "form-control", id="IDDepotDepart"})
                @Html.ValidationMessageFor(x => x.IddepotDepart, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="form-group">
             @Html.LabelFor(x => Model.IddepotRetour, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.IddepotRetour, new SelectList(Model.ListDepotRetour, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "IDDepotRetour"})
                @Html.ValidationMessageFor(x => x.IddepotRetour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div hidden="hidden" class="form-group">
                <label asp-for="Idforfait" class="control-label"></label>
                <input asp-for="Idforfait" class="form-control" />
                <span asp-validation-for="Idforfait" class="text-danger"></span>
            </div>

            
            <!-- Test Corentin -->
            <!--
            <div hidden="hidden" class="form-group">
                <label asp-for="DateReservation" class="control-label"></label>
                <input asp-for="DateReservation" value="" class="form-control" />
                <span asp-validation-for="DateReservation" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <label asp-for="DateDepart" class="control-label"></label>
                <input asp-for="DateDepart" class="form-control" id="IDDateDepart"  />
                <span asp-validation-for="DateDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRetour" class="control-label"></label>
                <input asp-for="DateRetour" class="form-control" />
                <span asp-validation-for="DateRetour" class="text-danger"></span>
            </div>         

            <div class="form-group">
             @Html.LabelFor(x => Model.Idvoiture, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.Idvoiture, new SelectList(Model.ListVoitureDisponible, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "IDVoiture"})
                @Html.ValidationMessageFor(x => x.Idvoiture, "", new { @class = "text-danger" })
                </div>
            </div>


            <!--
            <div hidden="hidden"  class="form-group">
                <label asp-for="CoefficientMultiplicateur" class="control-label"></label>
                <input asp-for="CoefficientMultiplicateur" class="form-control" />
                <span asp-validation-for="CoefficientMultiplicateur" class="text-danger"></span>
            </div> 
            -->   

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
   
    <script type="text/javascript">
       
           $("#IDPays").change(function () {
              
                var selectedCountry = $("#IDPays").val();
                var depotDepartSelect = $("#IDDepotDepart");
                var depotRetourSelect = $("#IDDepotRetour");
                depotDepartSelect.empty();
                depotRetourSelect.empty();
                var voitureSelect = $("#IDVoiture");
                voitureSelect.empty();

                if (selectedCountry != null && selectedCountry != '') {
                    
                     $.getJSON('@Url.Action("GetAllDepotByPays","Client")', { idPays: selectedCountry }, function(depots) {
                         
                         
                         if (depots != null)
                         {
                             
                            depotDepartSelect.append($('<option/>', {
                                value: null,
                                text: "--- Select Dépot Depart ---"
                            }));
                            
                            $.each(depots, function (index,depot) {
                                
                                depotDepartSelect.append($('<option/>', {
                                    value: depot.value,
                                    text: depot.text
                                                                   
                                }));
                               
                            });
                           
                         }                    
                       }                    
                    );
                }      
            });
       
            $("#IDDepotDepart").change(function () {
              
                var selectedDepot = $("#IDDepotDepart").val();
                var depotRetourSelect = $("#IDDepotRetour");
                depotRetourSelect.empty();
                var voitureSelect = $("#IDVoiture");
                voitureSelect.empty();

                if (selectedDepot != null && selectedDepot != '') {
                    
                     $.getJSON('@Url.Action("GetAllDepotRetourByDepotDepartInList","Client")', { idDepotDepart: selectedDepot }, function(deps) {
                         
                         if (deps != null)
                         {
                            depotRetourSelect.append($('<option/>', {
                                value: null,
                                text: "--- Select Dépot Retour ---"
                            }));
                            
                            $.each(deps, function (index,dep) {                                
                                depotRetourSelect.append($('<option/>', {
                                    value: dep.value,
                                    text: dep.text
                                                                   
                                }));
                               
                            });
                           
                         }                    
                       }                    
                    );
                }      
            });

             $("#IDDateDepart").change(function () {
                var selectedDepot = $("#IDDepotDepart").val();
                var selectedDate = $("#IDDateDepart").val();
                var voitureSelect = $("#IDVoiture");
                voitureSelect.empty();

                if (selectedDate != null && selectedDate != '') {
                    
                     $.getJSON('@Url.Action("GetAllVoitureDisponibleInList","Client")', { idDepot: selectedDepot, DateLocation: selectedDate }, function(voits) {
                         
                         if (voits != null)
                         {
                            voitureSelect.append($('<option/>', {
                                value: null,
                                text: "--- Select Voiture ---"
                            }));
                            
                            $.each(voits, function (index,voit) {                                
                                voitureSelect.append($('<option/>', {
                                    value: voit.value,
                                    text: voit.text                                                          
                                }));                         
                            });                     
                         }                    
                       }                    
                    );
                }      
            });
  
    </script>
   
}@*
    depotDepartSelect.append($('<option/>').val(depot.value).text(depot.Text));}
*@  
 @*
     $( function() {
                 $( "#IDDateDepart" ).datepicker();
                } );
 *@

 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
