@model FrontEnd_MVC.Models.Depot

@{
    ViewData["Title"] = "ActivateDepot";
}

<h1>Activer un dépôt</h1>

<h3>Etes-vous sûre de vouloir activer ce dépôt ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iddepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iddepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvilleNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactif)
        </dd>
    </dl>
    
    <form asp-action="ActivateDepot">
        <input type="submit" value="Activer" class="btn btn-success" /> | <a class="btn btn-dark" asp-action="AfficheDepotInactif">Retour à la liste</a>        
    </form>
</div>
