@model IEnumerable<FrontEnd_MVC.Models.Depot>

@{
    ViewData["Title"] = "AfficheDepot";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h1>Liste des dépôts</h1>
    
    <a class="btn btn-light" asp-action="CreateDepot">Créer un nouveau dépôt</a>    
    <a class="btn btn-light" asp-action="AfficheDepotActive">Voir tous les dépôts actifs</a>
    <a class="btn btn-light" asp-action="AfficheDepotInactive">Voir tous les dépôts inactifs</a>
    <a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
    <hr />
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iddepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactif)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iddepot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvilleNavigation.Nom)
            </td>

                @if (item.Inactif == true)
                {
                    <td>@Html.CheckBox("isChecked",true,new { @disabled = "disabled" })</td>
                }
                else
                {
                     <td>@Html.CheckBox("isUnchecked",new { @disabled = "disabled" })</td>
                }
         
                @if (item.ForfaitIddepot1Navigation.Contains(null) && item.Inactif != true)
                {
                    <td> <a class="btn btn-danger" asp-action="DisableDepot" asp-route-id="@item.Iddepot">Désactiver</a></td>
                }
                else{
                    if (item.ForfaitIddepot1Navigation.Contains(null) && item.Inactif == true)
                    {
                        <td>
                            <a class="btn btn-success" asp-action="ActivateDepot" asp-route-id="@item.Iddepot">Activer</a>               
                        </td>
                    }             
                    else
                    {
                        <td>
                            <i>Impossible de désactiver un dépôt qui est utilisé dans un forfait </i>
                        </td>
                    }
                }

        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}