@model IEnumerable<FrontEnd_MVC.Models.Notoriete>

@{
    ViewData["Title"] = "AfficheNotorieteActive";
}

<h1>AfficheNotorieteActive</h1>

<p>
    <a asp-action="CreateNotoriete">Create New</a></p>
 <p>   <a asp-action="AfficheNotorieteInactive">Voir toutes les Notoriétés inactives</a></p>
  <p>  <a asp-action="AfficheNotoriete">Voir toutes les Notoriétés</a></p>

<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoefficientMultiplicateur)
            </th>       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoefficientMultiplicateur)
            </td>
            <td>
                <a asp-action="DesactiverNotoriete" asp-route-id="@item.Idnotoriete">Désactiver</a>
                <a asp-action="EditNotoriete" asp-route-id="@item.Idnotoriete">Edit</a>
                <a asp-action="deleteNotoriete" asp-route-id="@item.Idnotoriete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
