@model IEnumerable<FrontEnd_MVC.Models.Depot>

@{
    ViewData["Title"] = "AfficheDepotInactive";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Liste des dépots inactifs</h1>

<p>
    <a class="btn btn-light" asp-action="AfficheDepotActive">Voir tous les dépôts actifs</a>
    <a class="btn btn-light" asp-action="AfficheDepot">Voir tous les dépôts</a>
    <a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
</p>
<hr />
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iddepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idville)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iddepot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvilleNavigation.Nom)
            </td>

            <td>
                <a class="btn btn-success" asp-action="ActivateDepot" asp-route-id="@item.Iddepot">Activer</a>
                <a class="btn btn-danger" asp-route-id="@item.Iddepot">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}
