@model IEnumerable<FrontEnd_MVC.Models.Notoriete>

@{
    ViewData["Title"] = "AfficheNotoriete";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Liste des notoriétés</h1>


    <a class="btn btn-primary" asp-action="CreateNotoriete">Create New</a>    
    <a class="btn btn-info" asp-action="AfficheNotorieteActive">Voir toutes les notoriétés actives</a>
     <a class="btn btn-warning" asp-action="AfficheNotorieteInactive">Voir toutes les notoriétés inactives</a>
     <a class="btn btn-success" asp-action="HomeLoueur">Back to main Menu</a>

<table id="datatable" class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoefficientMultiplicateur)
            </th>         
            <th>@Html.DisplayNameFor(model => model.Inactif)</th>
            <th>
               Action
           </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoefficientMultiplicateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactif)
            </td>
            <td>
                <a asp-action="Activate" asp-route-id="@item.Idnotoriete">Activer</a>
                <a asp-action="Disable" asp-route-id="@item.Idnotoriete">Désactiver</a>
                <a asp-action="EditNotoriete" asp-route-id="@item.Idnotoriete">Edit</a>
                <a asp-action="deleteNotoriete" asp-route-id="@item.Idnotoriete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}
