@model IEnumerable<FrontEnd_MVC.Models.Ville>


@{
    ViewData["Title"] = "AfficheVille";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h1>Ensemble des villes</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateVille">Create New</a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Idpays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdpaysNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="EditVille" asp-route-id="@item.Idville">Edit</a>
                <a asp-action="deleteVille" asp-route-id="@item.Idville">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}