@model IEnumerable<FrontEnd_MVC.Models.Depot>

@{
    ViewData["Title"] = "AfficheDepot";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h1>Liste des dépôts</h1>
    
    <a class="btn btn-primary" asp-action="CreateDepot">Create New</a>    
    <a class="btn btn-success" asp-action="AfficheDepotActive">Voir toutes les dépots actifs</a>
     <a class="btn btn-warning" asp-action="AfficheDepotInactive">Voir tous les dépôts inactifs</a>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iddepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iddepot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvilleNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactif)
            </td>
            <td>
                <a asp-action="ActivateDepot" asp-route-id="@item.Iddepot">Activer</a>
                <a asp-action="DisableDepot" asp-route-id="@item.Iddepot">Désactiver</a>
                <a asp-action="deleteDepot" asp-route-id="@item.Iddepot">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}