@model IEnumerable<FrontEnd_MVC.Models.Pays>

@{
    ViewData["Title"] = "AffichePays";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Liste des pays</h1>

<p>
    <a class=" btn btn-light" asp-controller="Loueur" asp-action="CreatePays">Créer un nouveau pays</a> <a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
</p>
<hr />
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idpays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                Nombre de Villes dans le pays
            </th>
            <th>
               Prix au kilomètre
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>        
            <td>
                @Html.DisplayFor(modelItem => item.Idpays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.PrixKm)
            </td>
            @if (item.Ville.Count == 0)
                { 
            <td>                         
                <a class="btn btn-primary" asp-action="EditPays" asp-route-id="@item.Idpays">Editer</a>
                <a class="btn btn-danger" asp-action="deletePays" asp-route-id="@item.Idpays">Supprimer</a>           
            </td>
            } 
            else
            { 
            <td><i>Impossible de modifier ou supprimer un pays possédant des villes/i></td>
            }
           
        </tr>
}
    </tbody>
</table>


@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}




