@model IEnumerable<FrontEnd_MVC.Models.Voiture>

@{
    ViewData["Title"] = "AfficheVoitureInactive";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Liste des voitures inactives</h1>

<p>
    <a class=" btn btn-light" asp-action="CreateVoiture">Créer une nouvelle voiture</a>
   <a class="btn btn-light" asp-action="AfficheVoitureActive">Voir toutes les voitures actives</a>
    <a class="btn btn-light" asp-action="AfficheVoiture">Voir toutes les voitures</a>
    <a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
</p>
<hr />
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idvoiture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idnotoriete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iddepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Immatriculation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idvoiture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnotorieteNavigation.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddepotNavigation.IdvilleNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Immatriculation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
           
            <td>
                <a class="btn btn-success" asp-action="ActivateVoiture" asp-route-id="@item.Idvoiture">Activer</a>
                <a class="btn btn-primary" asp-action="EditVoiture" asp-route-id="@item.Idvoiture">Editer</a>
               
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}