@model IEnumerable<FrontEnd_MVC.Models.Prix>

@{
    ViewData["Title"] = "AffichePrix";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h1>Liste des prix</h1>

<p>
      <a class="btn btn-light" asp-action="CreatePrix">Créer un nouveau prix</a><a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
</p>
<hr />
<table id="datatable" class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Idpays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixKm)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdpaysNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixKm)
            </td>
            <td>
               <a class="btn btn-primary" asp-action="EditPrix" asp-route-id="@item.Idprix">Editer</a>
                 
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}


