@model IEnumerable<FrontEnd_MVC.Models.Pays>

@{
    ViewData["Title"] = "AffichePays";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>AffichePays</h1>

<p>
    <a class=" btn btn-primary" asp-controller="Loueur" asp-action="CreatePays">Create New</a> <a class="btn btn-success" asp-action="HomeLoueur">Back to main Menu</a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idpays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                Nombre de Villes dans le pays
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>        
            <td>
                @Html.DisplayFor(modelItem => item.Idpays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville.Count)
            </td>
            <td>               
                <a asp-action="EditPays" asp-route-id="@item.Idpays">Edit</a>
                <a asp-action="deletePays" asp-route-id="@item.Idpays">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}




