@model IEnumerable<FrontEnd_MVC.Models.Forfait>

@{
    ViewData["Title"] = "AfficheForfait";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1>Liste des forfaits</h1>

 <a class="btn btn-light" asp-action="CreateForfait">Créer un nouveau forfait</a>    
 <a class="btn btn-dark" asp-action="HomeLoueur">Retour au menu</a>
 <hr />
<table id="datatable" class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Iddepot1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iddepot2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>         
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Iddepot1Navigation.IdvilleNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iddepot2Navigation.IdvilleNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>           
            <td>
               <a class="btn btn-primary" asp-action="EditForfait" asp-route-id="@item.Idforfait">Editer</a>
               <a class="btn btn-danger" asp-action="deleteForfait" asp-route-id="@item.Idforfait">Désactiver</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatable.js"></script>
}