@model FrontEnd_MVC.Models.Pays

@{
    ViewData["Title"] = "deletePays";
}

<h1>Supprimer un pays</h1>

<h3>Etes-vous sûre de vouloir supprimer ce pays ?</h3>
<hr />
<div>


    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idpays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idpays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="deletePays">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="AffichePays">Retour à la liste</a>
        
    </form>
</div>

<div class="ErrorMessage"> @ViewBag.Error </div>