@model FrontEnd_MVC.Models.Forfait

@{
    ViewData["Title"] = "deleteForfait";
}

<h1>Supprimer un forfait</h1>

<h3>Etes-vous sûre de vouloir supprimer ce forfait ?</h3>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idforfait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idforfait)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iddepot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iddepot1Navigation.IdvilleNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iddepot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iddepot2Navigation.IdvilleNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
    </dl>
    
    <form asp-action="deleteForfait">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="AfficheForfait">Retour à la liste</a>
        
    </form>
</div>

<div class="ErrorMessage"> @ViewBag.Error </div>