@model FrontEnd_MVC.Models.Prix

@{
    ViewData["Title"] = "deletePrix";
}

<h1>Supprimer un prix</h1>

<h3>Etes-vous sûre de vouloir supprimer ce prix ?</h3>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idprix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idprix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idpays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpaysNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixKm)
        </dd>
    </dl>
    
    <form asp-action="deletePrix">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="AffichePrix">Retour à la liste</a>
        
    </form>
</div>
