@model FrontEnd_MVC.Models.Depot

@{
    ViewData["Title"] = "deleteDepot";
}

<h1>Supprimer un dépôt</h1>

<h3>Etes-vous sur de vouloir supprimer ce dépôt ?</h3>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iddepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iddepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvilleNavigation.Nom)
        </dd>
       
    </dl>
    
    <form asp-action="deleteDepot">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="AfficheDepotInactive">Retour à la liste</a>
        
    </form>
</div>

<div class="ErrorMessage"> @ViewBag.Error </div>