@model FrontEnd_MVC.Models.Notoriete

@{
    ViewData["Title"] = "Disable";
}

<h1>Désactiver une notoriété</h1>

<h3>Etes-vous sûre de vouloir désactiver cette notoriété ? </h3>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idnotoriete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idnotoriete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoefficientMultiplicateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoefficientMultiplicateur)
        </dd>
        
    </dl>
    
    <form asp-action="Disable">
        <input type="submit" value="Désactiver" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="Index">Retour à la liste</a>
        
    </form>
</div>
