@model FrontEnd_MVC.Models.Depot

@{
    ViewData["Title"] = "DisableDepot";
}

<h1>Désactiver un dépôt</h1>

<h3>Etes-vous sûre de vouloir désactiver ce dépôt ? </h3>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iddepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iddepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvilleNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactif)
        </dd>
    </dl>
    
    <form asp-action="DisableDepot">
        <input type="submit" value="Désactiver" class="btn btn-danger" /> | <a class="btn btn-dark" asp-action="AfficheDepotActive">Retour à la liste</a>
        
    </form>
</div>
