@model FrontEnd_MVC.Models.Notoriete

@{
    ViewData["Title"] = "Disable";
}

<h1>Désactiver une notoriété</h1>

<h3>Etes vous sûre de vouloir désactiver ceci ? </h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idnotoriete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idnotoriete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoefficientMultiplicateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoefficientMultiplicateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactif)
        </dd>
    </dl>
    
    <form asp-action="Disable">
        <input type="submit" value="Désactiver" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
