@model FrontEnd_MVC.Models.Voiture

@{
    ViewData["Title"] = "EditVoiture";
}

<h1>Modifier une voiture</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateVoiture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Idvoiture" class="control-label"></label>
                <input asp-for="Idvoiture" class="form-control" />
                <span asp-validation-for="Idvoiture" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Idnotoriete" class="control-label"></label>
                <input asp-for="Idnotoriete" class="form-control" />
                <span asp-validation-for="Idnotoriete" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
             @Html.LabelFor(x => Model.Idnotoriete, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.Idnotoriete, new SelectList(Model.ListNotoriete, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "IDNotoriete"})
                @Html.ValidationMessageFor(x => x.Idnotoriete, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
             @Html.LabelFor(x => Model.Iddepot, htmlAttributes: new { @class = "control-label col-md-15" })
             <div class="col-md-35">
                @Html.DropDownListFor(x => Model.Iddepot, new SelectList(Model.ListDepot, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "IDDepot"})
                @Html.ValidationMessageFor(x => x.Iddepot, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Iddepot" class="control-label"></label>
                <input asp-for="Iddepot" class="form-control" />
                <span asp-validation-for="Iddepot" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="Immatriculation" class="control-label"></label>
                <input asp-for="Immatriculation" class="form-control" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Inactif" class="control-label"></label>
                <input asp-for="Inactif" class="form-control" />
                <span asp-validation-for="Inactif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AfficheVoiture">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}